img {
    width:200px;
}
body {
    background-color: lightskyblue;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header {
  align-self: center;
  border: 1px solid black;
  background-color: lightblue;
    border-radius: 15px;
    height: auto;
    width: 900px;
  text-align: center;
  color: red;
  background-image: 
  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
  url(https://github.com/Mizfits-APSLE/birddex/blob/main/BIRDWINNER.png?raw=true);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bird-dex {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3px;
    padding: 20px;
}

.card {
    text-decoration: none;
    color: rgb(247, 247, 247);
    border: 2px solid red;
    border-radius: 25px;
    width: 160px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    background-color: white;
    cursor: pointer;
    text-align: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.common {
 background-image: 
 linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
 url('https://github.com/Mizfits-APSLE/birddex/blob/main/COMMON.jpg?raw=true');
}

.collared {
    background-image: 
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url('https://github.com/Mizfits-APSLE/birddex/blob/main/COLLARED.png?raw=true');
}

.stork {
    background-image: 
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url('https://github.com/Mizfits-APSLE/birddex/blob/main/STORKBILLED2.png?raw=true');
}

.white {
    background-image:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url('https://github.com/Mizfits-APSLE/birddex/blob/main/WHITE%20THROATED.png?raw=true');
}

.ruddy {
    background-image: 
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url('https://github.com/Mizfits-APSLE/birddex/blob/main/RUDDY.png?raw=true');
}

.card:hover {
    background-color: lightyellow;
    transform: scale(1.05);
}

.card img {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.card p {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.disclaimer {
    text-align: center;
}

.description-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.description-text {
    font-size: 18px;
    line-height: 1.6;
     background: rgba(var(--very-light-gray-monochrome), 0.25);
    border: 1px solid rgb(var(--white-monochrome));
    border-radius: 10px;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    box-shadow: 0px 0px 8px 2px rgba(var(--dark-gray-monochrome), 0.8);
}
